<!-- views/post.handlebars -->

{{#if post}}
  <div class="post">
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <p>Posted by {{post.User.username}} on {{post.createdAt}}</p>
  </div>

  <h3>Comments</h3>
  {{#each post.Comments}}
    <div class="comment">
      <p>{{this.content}}</p>
      <p>Comment by {{this.User.username}} on {{this.createdAt}}</p>
    </div>
  {{/each}}
{{else}}
  <p>Post not found</p>
{{/if}}
